html {
  --color-500: #FBF8F1;
  --color-600: #F7ECDE;
  --color-700: #E9DAC1;
  --color-800: #54BAB9;
  position: relative;
  min-height: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: regular;
  background-color: var(--color-800);
}

body .projectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-500);
  border-radius: 12px;
  margin: 0 10%;
}

body .projectList .project {
  margin-bottom: 1%;
  border-radius: 12px;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .projectList .project .project-title {
  font-size: 2rem;
  font-family: bold;
  color: var(--color-800);
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 1%;
}

body .projectList .project .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .projectList .project .project-content .task {
  width: 100%;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: .5%;
  padding: 1%;
  background-color: var(--color-500);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px var(--color-700) solid;
}

body .projectList .project .project-content .task .description {
  font-family: light;
  font-size: 1.1rem;
}

body .projectList .project .project-content .task .title {
  font-family: bold;
  font-size: 1.2rem;
  color: #5a5959;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -1%;
}

body .projectList .project .project-content .task .title .task-button {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: scale(2);
          transform: scale(2);
  right: 5%;
  bottom: 25%;
}

@media screen and (max-width: 500px) {
  body .projectList {
    margin: 0;
    border-radius: 0px;
  }
  body .description {
    display: none;
  }
  body .task-button {
    bottom: 35% !important;
  }
}

@font-face {
  font-family: 'regular';
  src: url("../fonts/Hero-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'bold';
  src: url("../fonts/Hero-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'light';
  src: url("../fonts/Hero-Light.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */