html {
  --color-500: #FBF8F1;
  --color-600: #F7ECDE;
  --color-700: #E9DAC1;
  --color-800: #54BAB9;

  position: relative;
  min-height:100%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: regular;
  background-color: var(--color-800);
  background-image: url("../img/backgroundd2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  #form {
    border: 5px red solid;
  }
  .projectList {
    display:flex;
    flex-direction: column;
    background-color: var(--color-500);
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 1% 5%;
    width: 60%;
    min-height: 90vh;
    .project {
      margin-bottom: 1%;
      border-radius: 12px;
      padding: 2%;

      display: flex;
      flex-direction: column;

      .project-title {
        font-size: 2rem;
        font-family: bold;
        color: var(--color-800);
        align-self: flex-start;
        margin-bottom: 1%;
      }
      .project-content {
        display: flex;
        flex-wrap: wrap;

        .task {
          width: 100%;
          border-radius: 12px;
          display: flex;
          margin: .5%;
          padding: 1%;
          background-color: var(--color-500);
          flex-direction: column;
          border: 2px var(--color-700) solid;

          .description {
              font-family: light;
              font-size: 1.1rem;
          }
          .title{
            font-family: bold;
            font-size: 1.2rem;
            color: rgb(90, 89, 89);
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: -1%;
            .task-button {
                position: relative;
                align-self: flex-end;
                transform: scale(2);
                right: 5%;
                bottom: 25%;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:500px) {
    body {
      flex-direction: column !important;
    }
    .projectList {
      margin: 0;
      border-radius: 0px;
      width: 100%;
    }
    .description {
      display:none;
    }
    .task-button {
      bottom: 35% !important;
    }
  }
}



@font-face {

  font-family: 'regular';
  src: url('../fonts/Hero-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

}


@font-face {

  font-family: 'bold';
  src: url('../fonts/Hero-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style:normal;

}

@font-face {

  font-family: 'light';
  src: url('../fonts/Hero-Light.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

}