html {
    background-color: #F1E0AC;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: regular;
}

.projectList {
  display:flex;
  flex-direction: column;
  gap: 150px;
}
.project {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .project-title {
      font-size: 3rem;
      color: blue;
    }
    .project-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      .task {
          border-radius: 12px;
          width: 25%;
          display: flex;
          margin: .5%;
          padding: 1%;
          background-color: white;
          font-size: 1.5rem;
          font-family: bold;
          flex-direction: column;

          .description {
              font-family: light;
              font-size: 1rem;
              float: right;
          }
          .task-button {
              align-self: flex-end;
              transform: scale(1.5);
          }
      }
    }

}

@font-face {

  font-family: 'regular';
  src: url('../fonts/Hero-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

}


@font-face {

  font-family: 'bold';
  src: url('../fonts/Hero-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style:normal;

}

@font-face {

  font-family: 'light';
  src: url('../fonts/Hero-Light.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

}